<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Onboarding CRM</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="app-header">
        <nav>
            <a asp-page="/Index">Mock Dynamics 365 CRM</a>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
